@model UserDetailsVM
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative rounded-2 mt-n4 mx-3 z-index-2 bg-gradient-dark">
                    <div class="bg-gradient-dark shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3 text-center ">Profile</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">

                        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
                        <div class="container">
                            <div class="row flex-lg-nowrap ">


                                <div class="col">
                                    <div class="row">
                                        <div class="col mb-3">
                                            <div class="card d-flex justify-content-center" style="color:aliceblue;">
                                                <div class="card-body">
                                                    <div class="e-profile">
                                                        
                                                            <div class="row ">

                                                               <div class="d-flex justify-content-between" >
                                                                   <div class="col-1"></div>
                                                                       <div class="" style="width: 140px;">
                                                                        <img class="d-flex justify-content-center align-items-center rounded" src="@Model.ImagePath" style="height: 140px; width: 140px;" />
                                                                    </div>

                                                                <p class="font-weight-normal text-sm col-1">
                                                                    <a asp-area="Admin" asp-controller="Admin" asp-action="AdminUpdateProfile">
                                                                        <i class="fas fa-user-edit text-secondary" style="font-size: 2em;" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Profile"></i>
                                                                    </a>
                                                                </p>
                                                               </div>
                                                                
                                                               
                                                        
                                                      
                                                                    <h4 class="text-center mt-2">@Model.Name @Model.SecondName @Model.Surname @Model.SecondSurname</h4>
                                                           


                                                            </div>
                                                       
                                                       
                                                        <div class="tab-content pt-3">
                                                            <div class="tab-pane active">
                                                                <div novalidate="">
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="row">
                                                                                <div class="col">
                                                                                    <div class="form-group">
                                                                                        <label><strong>Phone : </strong></label>
                                                                                        <label value="">@Model.PhoneNumber.ToString("+90 (###) ###-####") </label>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col">
                                                                                    <div class="form-group">
                                                                                        <label><strong>Email : </strong></label>
                                                                                        <label value="email">@Model.Email</label>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                            <div class="row">
                                                                              
                                                                                <div class="col">
                                                                                    <div class="form-group">
                                                                                        <label><strong>Birth Date : </strong></label>
                                                                                        <label value="birthDate"> @Model.BirthDate.ToString("dd/MM/yyyy")</label>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col">
                                                                                    <div class="form-group">
                                                                                        <label><strong>Place of Birth : </strong></label>
                                                                                        <label value="birthPlace"> @Model.PlaceOfBirth</label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col mb-3">
                                                                                    <div class="form-group">
                                                                                        <label><strong>Adress : </strong></label>
                                                                                        <label value=""> @Model.Address</label>
                                                                                    </div>
                                                                                </div>
                                                                                
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>




                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <partial name="~/Areas/Personnel/Views/Partial/Footer.cshtml" />
    </div>
    </div>